<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>expenses</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>
<body>
    <h3>Daily Expenses</h3>
    <button id="rzp-button1">Buy Premium</button>
    <div id="premium-features" style="display: none;">
        <p id="premium-user-text">You're a premium user</p>
        <button id="leaderboard-btn" style="margin-bottom: 10pt;" onclick="getLeaderBoard()">Show leaderboard</button>
    </div>
    <form id="expense-form">
        <input type="number" name="expense" id="expense" placeholder="Enter Expense" required>
        <input type="text" name="dscription" id="description" placeholder="Enter Description">
        <select id="type" name="type" required>
            <option value="" disabled selected hidden>Select an type</option>
            <option value="food">Food</option>
            <option value="transports">Transports</option>
            <option value="Utilities">Utilities</option>
            <option value="Entertainment">Entertainment</option>
          </select>
        <button type="submit">Add Expense</button>
    </form>
    <h3>Expenses</h3>
    <div id="expenses"></div>
    <h3>Leaderboard</h3>
    <div id="leaderboard">
        
    </div>
    
    <p id="error" style="color:red"></p>
    <script>
        let buyPremiumBtn=document.getElementById("rzp-button1");
        let premiumFeatures = document.getElementById("premium-features");
        let token;

        window.addEventListener("DOMContentLoaded", ()=>{
            token = localStorage.getItem("token");
            let isPremiumUser = localStorage.getItem("isPremiumUser");
            console.log(isPremiumUser);
            if(isPremiumUser === 'true') {
                buyPremiumBtn.style.display="none";
                premiumFeatures.style.display="block";
                
            }
            getExpenses();
        })

        document.getElementById("rzp-button1").onclick = async function(e){
            const token = localStorage.getItem("token");
            const response = await axios.get('http://localhost:3000/purchase/premiummembership',{headers:{"Authorization":token}});
            console.log("pay pesponse",response)
            var options = {
                "key":response.data.key_id,
                "order_id":response.data.order.id,
                "handler":async function (response){
                    const updateTransaction = await axios.post("http://localhost:3000/purchase/updatetransactionstatus",{
                        order_id:options.order_id,
                        payment_id:response.razorpay_payment_id,
                        status:"SUCCESSFUL"
                    },{headers:{"Authorization":token}})
                    
                    localStorage.setItem("isPremiumUser",true);
                    
                    alert("you're a premium user");
                    buyPremiumBtn.style.display="none";
                    premiumFeatures.style.display="block";

                }
            }
            const rzp1 = new Razorpay(options);
            rzp1.open();
            e.preventDefault();

            rzp1.on("payment.failed",async function (response){
                await axios.post("http://localhost:3000/purchase/updatetransactionstatus",{
                  order_id: options.order_id,
                  payment_id: null,
                  status: "FAILED",
                }, { headers: { "Authorization": token } });
                alert("sonething went wrong");
                
            })
        }

        document.getElementById('expense-form').addEventListener('submit',async (event)=>{
            event.preventDefault();
            const formData = {
                expense: event.target.expense.value,
                description: event.target.description.value,
                type: event.target.type.value,
            }

            await axios.post('http://localhost:3000/expenses/addexpense',formData,{headers:{"Authorization":token}});
            resetForm();
            getExpenses();
            
            
        })

        function resetForm(){
            document.getElementById('expense').value = '';
            document.getElementById('description').value = '';
            document.getElementById('type').value = '';    
        }

        async function getExpenses(){
            const expensesContainer = document.getElementById('expenses');
            const getExpenseResponse = await axios.get('http://localhost:3000/expenses/getexpenses',{headers:{"Authorization":token}});
            expensesContainer.innerHTML = ``;
            getExpenseResponse.data.forEach(expense => {
                const expenseData = document.createElement('p');
                expenseData.innerHTML=`
                ${expense.expense} - ${expense.description} - ${expense.type}
                <button onclick = "deleteExpense(${expense.id},${expense.userId})">Delete</button>
                `;
                expensesContainer.append(expenseData);
            });
        }

        async function deleteExpense(id,userId){
            await axios.delete(`http://localhost:3000/expenses/delete/${id}/${userId}`);
            getExpenses();
        }
        
        async function getLeaderBoard(){
            const leaderBoardResponse = await axios.get('http://localhost:3000/premium/leaderboard');
            console.log(leaderBoardResponse);   
            const leaderboardContainer = document.getElementById("leaderboard");
            leaderboardContainer.style.display="block";
            leaderboardContainer.innerHTML='';
            leaderBoardResponse.data.forEach(lead=>{
                const leader = document.createElement("p");
                leader.innerHTML = `Name: ${lead.userName}  -  total expense: ${lead.totalExpense}`;
                leaderboardContainer.append(leader);
            })
            
        }



    </script>
</body>
</html>