<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h3>Log In</h3>
    <form id="login-form">
        <input type="email" name="email" id="email" placeholder="email" required>
        <input type="password" namw="passWord" id="password" placeholder="password" required>
        <button type="submit">Log In</button>
    </form>
    <div id="forgot-password" >
        <button id="forgot-password-btn" onclick="forgotPassword()">Forgot password</button>
        <form id="forgot-password-form" style="display: none;">
            <p>Rest your password</p>
            <input type="email" name="email"  placeholder="Enter you Email" required>
            <button type="submit">Get Reset Link</button>
        </form>
    </div>
    <p>Not a User? - <a href="signup.html">Sign Up Now</a></p>
    <p id="error" style="color:red"></p>


    <script>
        document.getElementById('login-form').addEventListener("submit", async (event)=>{
            event.preventDefault();
            document.getElementById("error").innerHTML='';
            const FormData={
                email: event.target.email.value,
                passWord: event.target.password.value
            }
            try{
                const postResponse= await axios.post('http://localhost:3000/user/login',FormData);
                if (postResponse.status==200){
                    console.log(postResponse.data.token);
                    localStorage.setItem( "isPremiumUser",postResponse.data.isPremiumUser)
                    localStorage.setItem("token", postResponse.data.token);
                    window.location.href = 'expenses.html';
                }
                resetForm(event);
            }catch(err){
                resetForm(event);
                if (err.response.status!= 200){
                    document.getElementById("error").innerHTML= JSON.stringify(err.response.data.message);  
                }
            }

        })
        async function forgotPassword(){
            document.getElementById("forgot-password-form").style.display="block";
            document.getElementById("forgot-password-btn").style.display="none";
            document.getElementById("forgot-password-form").addEventListener("submit",async (event)=>{
                event.preventDefault();
                const forgotPasswordResponse = await axios.post("http://localhost:3000/password/forgotpassword",{email: event.target.email.value});
                event.target.email.value = '';
                document.getElementById("forgot-password-form").style.display="none";

            })
        }

        


        function resetForm(event){
            event.target.email.value='';
            event.target.password.value='';
        }

    </script>
    
</body>
</html>